{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2 class="text-center">Restaurant Details</h2>
  {% for i in response.businesses %}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <div class="card-header" id="heading{{ forloop.counter }}">
        <h2 class="accordion-header">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
            {{ i.name }}
          </button>
        </h2>
      </div>
      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
        <div class="card-body">
          {% for n in i.location.display_address %}
          <p>{{ n }}</p>
          {% endfor %} <!-- i.location.display_address -->
        </div>
      </div>
    </div>
  </div>
  {% endfor %} <!-- response.bussiness -->
</div>
{% endblock %}