{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<header class="masthead">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="text-light">Restaurants</h1>
          <p class="text-light">Find restaurant details below.</p>
          <!-- <p class="lead">A great stakrter layout for a landing page</p> -->
        </div>
      </div>
    </div>  
  </div>
</header>
<div class="container-fluid">

  <h2 class="text-center"></h2>
  {% for i in response_q %}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <div class="card-header" id="heading{{ forloop.counter }}">
        <h2 class="accordion-header">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
            {{ i.name }}
            <span class="text-right">
              <!-- {{ i.rating }}
              {{ i.price }} -->
            </span>
          </button>
        </h2>
      </div>
      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
        <div class="card-body">
          
          <p> <strong>Location:</strong>
            {{ i.location.formatted_address }}
            {% if i.display_phone.strip %}
              <strong> Phone:</strong>
                {{ i.display_phone }}
            {% endif %}
          </p>
          <strong> Open:</strong>
          <!-- Day of the week -->
          
          <!-- start open hours-->
          <table>
          {% for hr in i.hours %}
            {% for open in hr.open %}
              {% cycle '<tr>' '' %}
                <td>{{ open.day }}</td>
                <td>{{ open.start }} - {{ open.end }}</td>
              {% cycle '</tr>' '' %}
            {% endfor %}
          {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} <!-- response_q -->
</div>
{% endblock %}