{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<header class="masthead">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="text-light">Restaurants</h1>
          <p class="text-light">Find restaurant details below.</p>
        </div>
      </div>
    </div>  
  </div>
</header>
<div class="container-fluid"  style="padding-bottom: 56px">
  <h2 class="text-center"></h2>
  {% for i in response_q %}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <div class="card-header" id="heading{{ forloop.counter }}">
        <h2 class="accordion-header">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
            {{ i.name }}
            <span class="text-right">
              <!-- {{ i.rating }}
              {{ i.price }} -->
            </span>
          </button>
        </h2>
      </div>
      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> <strong>Location:</strong>
              {{ i.location.formatted_address }}</p>
              {% if i.display_phone.strip %}
                <p><strong> Phone:</strong>
                  {{ i.display_phone }}</p>
              {% endif %}
              <p><strong>Price:</strong> {{ i.price }}</p>
              <p><strong>Rating:</strong> {{ i.rating }}</p>
              <!-- {% for photo in i.photos %}
              <p><img src="{{ photo }}" style="width: 200px;"/></p>
              {% endfor %} -->
            </div> <!-- col 1-->
            <div class="col">
             <!-- Table for hours-->
             <table>
              {% for hr in i.hours %} 
                {% if hr.is_open_now %}
                <strong><p style="color: rgb(8, 169, 99);">Open Now</p></strong>
                {% else %}
                <strong> <p style="color: rgb(255, 68, 68);">Closed</p></strong>
                {% endif %}
                {% for open in hr.open %}
                  {% cycle '<tr>' '' %}
                    <td>{{ open.day }}</td>
                    <td>{{ open.start }} - {{ open.end }}</td>
                  {% cycle '</tr>' '' %}
                {% endfor %}
              {% endfor %}
            </table>
            </div> <!-- col 2-->
            <div class="col">

            </div><!--col 3-->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} <!-- response_q -->
</div>
{% endblock %}